footer{
    background-color: #181818;
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
    ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        li{
            a{
            font-size: 1.5rem; 
            }
            &:hover svg{
                color: #44CFCB;
            }
        }
    }
}
