*{
    box-sizing: border-box;
}
.nav-bar{
    padding: 1rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #181818;
    width: 100%;
    height: fit-content;
    min-height: 80px;

    .logo{
        display: flex;
        padding: 0.5rem;
        flex-direction: column;
        img{
            padding: 1rem;
            margin-top: 1rem;
            width: 50px;
        }
    }

    nav{
    margin: 0 1rem;
    display: flex;
    gap: 3rem;
        a{
            font-size: 22px;
            line-height: 51px;
            height: 51px;
            display: block;
            position: relative;
            text-decoration: none;
            i{
                transition: all 0.3s ease-out;
            }
            &:hover{
                color: #44CFCB;
                svg{
                    opacity: 0;
                }
                &::after{
                    opacity: 1;
                }
            }
            &:after{
                content: '';
                font-size: 9px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                opacity: 0;
                transition: all 0.3s ease-out;
            }
            &:first-child:after{
                content: 'HOME';
            }

            &.about:after {
                content: 'ABOUT';
            }

            &.contact:after {
                content: 'CONTACT';
            }
        }
        a.active{
            svg{
                color: #44CFCB;
            }
        }
    }
    // .socials{
    //     list-style: none;
    //     position: absolute;
    //     bottom: 0;
    //     margin-bottom: 20px;
    //     display: block;
    //     width: 100%;
    //     padding: 0;
    //     text-align: center;
        
    //     li{
    //         a{
    //             padding: 9px 0;
    //             display: block;
    //             font-size: 1.25rem;


    //             line-height: 1rem;
    //         }
    //         &:hover svg{
    //             color: #44CFCB;
    //         }
    //     }
    // }
}